.section-about {
  background: $lightGrey;
  padding: 25rem 0;
  margin-top: -20vh;
}

.features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba($lightGreen, 0.7), rgba($darkGreen, 0.7)), url(../../img//nat-4.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  transform: skewY(-7deg);
  margin-top: -10rem;
  & > * {
    transform: skewY(7deg);
  }
}

.tours {
  background: $lightGrey;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;
}